.section-title{
    display: flex;
    align-items: flex-end;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

.section-title > p{
    font-size: 20px;
    margin-left: 7px;
    
}

.section-title > img{
    width: 30px;
}

.section-items{
    display: flex;
    padding-top: 20px;
    overflow-x: hidden;
    margin: 0 50px;
}

.wrapper{
    position: relative;
}

.wrapper > button{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;    
    border-radius: 100%;    
    border: none;
    padding: 5px;
    background-color: #e03546;
    color: #fff;    
}

.left-arrow {
    left: 5px;
}

.right-arrow {
    right: 5px;
}

.section {
    margin: 50px 0;
}